Source: libarmadito-agent-perl
Section: perl
Priority: optional
Maintainer: vhamon <vhamon@teclib.com>
Build-Depends: debhelper (>= 9)
Build-Depends-Indep: libdate-calc-perl,
 libdbd-sqlite-perl,
 libfile-which-perl,
 libhttp-message-perl,
 libipc-system-simple-perl,
 libjson-perl,
 libparse-syslog-perl,
 libperl-critic-perl,
 libperl-perl,
 libreadonly-perl,
 libtest-compile-perl,
 libtest-perl-critic-perl,
 libtry-tiny-perl,
 libuniversal-require-perl,
 liburi-perl,
 libxml-libxml-perl,
 libxml-treepp-perl,
 perl
Standards-Version: 3.9.6
Homepage: https://metacpan.org/release/Armadito-Agent

Package: libarmadito-agent-perl
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends},
 libdate-calc-perl,
 libdbd-sqlite-perl,
 libfile-which-perl,
 libhttp-message-perl,
 libipc-system-simple-perl,
 libjson-perl,
 libparse-syslog-perl,
 libperl-critic-perl,
 libperl-perl,
 libreadonly-perl,
 libtry-tiny-perl,
 libuniversal-require-perl,
 liburi-perl,
 libxml-libxml-perl
Description: Armadito Agent for Linux and Windows
 Agent interfacing between Armadito Antivirus and Armadito plugin for GLPI for
 Windows and Linux.
 .
 This description was automagically extracted from the module by dh-make-perl.
